<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="test" class="com.test.A" init-method="init" scope="prototype">
        <constructor-arg ref="test2"></constructor-arg>
    </bean>
    <bean id="test2" class="com.test.B">

    </bean>
</beans>