<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.Yuangong">
    <delete id="delete" >
        delete from yuangong where id=#{id}
    </delete>
    <select id="getall" resultType="com.entity.Yuangong">
        select id,name,age from yuangong order by id
    </select>
    <select id="getById" resultType="com.entity.Yuangong">
        select id,name,age from yuangong where id=#{id}
    </select>
</mapper>